{% if links|count == 0 %}
<div class="alert alert-success span10">
  <h4>Well done!</h4>
  You've finished scanning everything on the stack.
</div>
{% else %}
{% for link in links %}
<div class="span6">
  <div class="panel panel-default"> 
    <div class="panel-heading">
      <h3 class="panel-title">{{ link['snobjid'] }}</h3>
    </div>
    <div class="panel-body">
      {% for imtype in ['srch', 'temp', 'diff'] %}
        <p class="thumb-title">{{ imtype }}</p>
        <div class="thumbnail">
          <img src="{{ link['fmtstr'] % imtype }}" style="width:130px;height:130px;">
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
